* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

// ......................global classes................

.bg-backdrop {
    --tw-bg-opacity: 1;
    background-color: rgb(138 17 212/var(--tw-bg-opacity));
}

.input_focus_off {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.text-foreground {
    --tw-text-opacity: 1;
    color: rgb(36 41 47/var(--tw-text-opacity));
}

.bg-foreground {
    --tw-bg-opacity: 1;
    background-color: rgb(36 41 47/var(--tw-bg-opacity)) !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-border-interactive {
    --tw-border-opacity: 1;
    border-color: rgb(173 180 187/var(--tw-border-opacity));
}

.text-subtitle {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #24292f;
}

.text-b2 {
    font-size: 14px;
    line-height: 22px;
}

.interactive-hover:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(246 248 249/var(--tw-bg-opacity));
}

.text-plum-120 {
    --tw-text-opacity: 1;
    color: #9e00ff;
}

.text-sky-300 {
    --tw-text-opacity: 1;
    color: #1da1f2;
}
.bg-focus-gray-10 {
    --tw-bg-opacity: 1;
    background-color: rgb(237 240 243/var(--tw-bg-opacity));
}
.bg-success-foreground {
    --tw-bg-opacity: 1;
    background-color: rgb(35 134 54/var(--tw-bg-opacity));
}
.text-h2 {
    font-size: 21px;
    line-height: 28px;
    font-weight: 600;
    color: #24292f;
}
// ......................global classes................ End